.card {
    color:white;
    background:black;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
}

.card>.img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:black;
}

.card>.img-container>img {
    width: 60%
}

.card>.content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
}

.card>.content>ul {
    list-style-type: none;
}

.card>.content>ul>li {
    margin-top: 18px;
}

/* .card>.remove {
    color: green;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
}

.card>.remove:hover {
    color: #d50000;
} */

/* 
img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_shake*/

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}